.vs/
.vscode/
bin/
build/
CMakeFiles/
CMakeCache.txt/
build/
premake5.exe
HLWA/obj/
examples/**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user